@font-face {
    font-family: 'Monocraft';
    src: url('/fonts/Monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-monospace: 'Monocraft', "Fira Mono", monospace;
}
